body {margin: auto;}

.banner {
    display: flex;
}

.banner img {
    width: 50%;
}

.title-banner {
    width: 628px;
    font-size: 80px;

}

.btn-exp {
    margin-top: auto;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    height: 64px;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    background: var(--linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}

/* our products services */
.future-section{
   
}


.milks {
    border-radius: 10px;
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);
}
.milks img{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    margin-left: 20px;
}

.Products {
    gap: 20px;
}


/* Grate Tea Services */

.gts-2{
    width:45%;
    gap:0;
    margin-top: 35px;
    margin-bottom: 35px;
}
.gts-2 img{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30px;
}

.ttt{
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
}

.get-1{
    display:grid;
}

.gts-3 {
   
padding: 45px auto;



}

.ractangle {
    width: 238px;
    height: 136px;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.1;
    background: var(--linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));

}

.ractangle-2 {
    width: 238px;
    height: 355.279px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(230, 166, 35, 0.10);
}

.ractangle-3 {
    width: 238px;
    height: 355.279px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(87, 118, 57, 0.10);
}

.ractangle-4 {
    width: 238px;
    height: 136px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0.00) 100%);
}







/* Meet Our Super Clients */

.gdn-bg {
    background: linear-gradient(red, green);
    margin-top: 45px;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 45px;
}

.meet-clients {
    color: #F4F4F4;
}

.all-center {
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 82px;
}

.card-section {
    margin-bottom: 130px;
}

/* footer section */
.ftr {
    background: linear-gradient(270deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 137, 56, 0.10) 100%);
}

.ftr-1 {
    display: flex;
    justify-content: space-around;
    padding-top: 142px;
    padding-bottom: 142px;

}

.ftr-2 {
    display: flex;

}

.ftr-2 p {
    padding-right: 65px;
}

.qck-acc label {
    margin-top: 20px;
}

.qck-acc-hd {
    display: flex;
    justify-content: space-around;
}

.qck-acc a {
    text-decoration: none;
    color: black;
}

.social-icon {
    display: flex;
    margin-top: 24px;
    gap: 24px;
}